@import "primeng/resources/themes/aura-light-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    padding: 0;
}

.mx-side-bar {
    margin-left: 18.5rem !important;
    margin-right: 1.5rem !important;
}

.mt-9 {
    margin-top: 6rem !important;
}